In [7]:
import duckdb
import pandas as pd
import spacy

In [11]:
# BEHAVIOR_NON_USER_FILEPATH='../data/amazon_non_users_behavior.csv'
# BEHAVIOR_USER_FILEPATH='../data/amazon_user_behaviors.csv'
DATABASE_FILEPATH='../data/prime.ddb'

with duckdb.connect(DATABASE_FILEPATH) as con:
    search_terms_df=con.sql("SELECT * FROM user_search_terms").df()

In [12]:
search_terms_df

,user_id,is_amazon_user,num_search_terms,all_searches_combined
0,11c40ee2501d3c53b86621a32b5722c7,True,195.0,"wifi pineapple, intercontinental los angeles, ..."
1,193e47a3f2cf3ba2845721daba5ab926,True,0.0,None
2,2054b2d8d7f2361a900784cb0c81c9ae,True,59.0,"true detective night country cast, follicle, t..."
3,5791dd8dc8af32d090720fbcab9e05ea,True,0.0,None
4,23653fd9df7232749328fb18b47bfd38,True,76.0,"olive garden coupons, olive garden coupons, ol..."
...,...,...,...,...
988,87fadfd2a6963b90ab1d3493899dc3bd,False,117.0,"蜡笔小新, 我的歌声里, wangyouyingli, 万有引力, for ya, 苦茶子,..."
989,15da076ad600333d8dcce83b07317fe0,False,38.0,"google search, google search, google search, g..."
990,15dcc27ba63832a991b975de7f83ac91,False,28.0,"vendoo extension, vendoo, era commons, era com..."
991,72fbdc7dd6f23ccdaca2055ccdc2fd37,False,4.0,"lemon turmeric kojic soap, lemon turmeric koji..."
992,737eaaa6425737dc95de1a9be8a5ac04,False,0.0,None

In [15]:
# Load English tokenizer, tagger, parser and NER
nlp = spacy.load("en_core_web_sm")

In [18]:
list(set(sorted([1,1,1,5,6,2,3,7,7])))

[1, 2, 3, 5, 6, 7]

In [16]:
def extract_verbs_from_searches(searches:str) -> list:
    """
    given search terms as a concatenated string, this applies spacy's language model and
    outputs a list of named entities found
    """
    doc = nlp(searches)
    return list(set(sorted([token.lemma_ for token in doc if token.pos_ == "VERB"])

def extract_nouns_from_searches(searches:str) -> list:
    """
    given search terms as a concatenated string, this applies spacy's language model and
    outputs a list of nouns found
    """
    doc = nlp(searches)
    return list(set(sorted([chunk.text for chunk in doc.noun_chunks])))


def extract_named_entities_from_searches(searches:str) -> list:
    """
    given search terms as a concatenated string, this applies spacy's language model and
    outputs a list of named entities found
    """
    doc = nlp(searches)

In [ ]:
search_terms_df.assign('nouns'=lambda x: extract_nouns_from_searches(x['all_searches_combined']))
search_terms_df.assign('entities'=lambda x: extract_verbs_from_searches(x['all_searches_combined']))